@import "../../mixins.scss";
.footer {
    background-color: rgb(22, 60, 197);
    padding: 50px 0;
    color: white;
    position: relative;
    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .infoText {
        font-size: 16px;
        line-height: 30px;
        opacity: 0.75;
        text-align: center;
        max-width: 800px;
        margin-bottom: 20px;
        @include md {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icon {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: rgb(47, 255, 168);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
                box-shadow: 0 0 0.625em pink;
            }
        }
    }
}
